<div class="container">
  <h1>Rails Exercise</h1>
  <div class="question card" >
    <h2>Your Question:</h2>
    <%= @question %>
  </div>
  <div class="answer card">
    <h2>The Coach's answer:</h2>
    <%= @answer %>
  </div>
  <div>
    <button type="button" class="btn btn-primary"><%= link_to "Ask a new Question", ask_path, class:"button" %></button>
  </div>

</div>
